.navbar h5 {
    display: inline;
}



.hint {
    padding-left: 5px;
}

.current-word {
    font-size: 2em;
}

.todo li {
    list-style: circle;
    margin-left: 20pt;
}

input[disabled], input[disabled]:hover {
	border: 1px solid #999;
	background-color: #ddd;
    color: #ddd;
}

#answerSection {
    display: none;
}

#revealButton {
    display: none;
    float:right
}

.correct {
    color:green;
}

.completed-task {
    text-decoration: line-through;
}


.icon-ok {
    background:url(../images/sprite-icons.png) no-repeat -140px -16px;
    padding-right: 20px;
    margin-right: 2px;
    margin-left: 3px;
    display: none;
}

.gender-icon-ok {
    background:url(../images/sprite-icons.png) no-repeat -140px -16px;
    padding-right: 20px;
    margin-right: 10px;
    margin-left: 3px;
}

.gender-icon-hide {
    visibility: hidden;
}

.gender-icon-show {
    visibility: visible;
}

.gender-section {
    padding-bottom: 3pt;
    display: none;
}

.hint-section {
    float: right;
}

input[type="button"].hint-button {
    margin-bottom: 0;
}

input.gender-input {
    width: 30pt;
    display: inline;
}

.gender-noun-word {
    display: inline;
    padding-left: 5px;
}

#template {
    display: none;
}