.navbar h5 {
    display: inline;
}

.hint {
    padding-left: 5px;
}

.todo li {
    list-style: circle;
    margin-left: 20pt;
}

input[disabled], input[disabled]:hover {
	border: 1px solid #999;
	background-color: #ddd;
    color: #ddd;
}

#answerSection {
    display: none;
}

#revealButton {
    display: none;
    float:right
}

.correct {
    color:green;
}

.completed-task {
    text-decoration: line-through;
}

input[type="button"].hint-button {
    margin-bottom: 0;
}
#template {
    display: none;
}